---
export async function getStaticPaths({rss}) {
  const allPosts = await Astro.glob("../../content/blog/**/**/*.md");
  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
  );
  const posts = sortedPosts.map((p) => {
    return p;
  });

  return sortedPosts.map((post) => {
    const pathParts = post.file.replace('/index.md', '').split('/');
    const slug = pathParts[pathParts.length - 1]
    return {
      params: {
        slug
      },
      props: {
        post
      }
    }
  })
}

const { post } = Astro.props;

---
<div>
<post.Content/>
</div>