---
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "About Sandra Rodgers";
---

<Layout {title} {description}>
  <div class="container">
    <h1>About Me...</h1>
    <div class="about">
      <div class="img-container">
        <img src="/sandra_portrait.jpeg" />
      </div>
      <div class="text-container">
        <p>
          After a ten year career as a high school and middle school teacher, I
          pivoted to an entirely new career as a front-end developer. My
          launchpad was a three month immersive web development bootcamp, where
          I learned fundamentals of creating full-stack web applications. I've
          always had an interest in art and design in addition to my love for
          teaching, so I knew early on that front-end development would be the
          direction I would take as an engineer.
        </p><p>
          I had the awesome opportunity to continue on at the bootcamp for
          another cohort, but this time as a mentor, which gave me the chance to
          teach lessons and work one-on-one with students learning to code. The
          mentor position and my background in teaching made me hope that
          eventually I would gain enough experience as an engineer to one day
          create educational content for others learning about web development.
          But that would have to come later. At the end of that three month
          cohort, I applied for developer jobs and started my new life as a web
          developer.
        </p>
        <p>
          In August 2019, I started my first developer job at a financial-tech
          company, where I worked for two years on the UXDev team as a front-end
          engineer. We were focused on building a UI component library and
          learning about the process of creating and implementing a design
          system from the ground up. The team I worked with was made up of
          incredibly intelligent, supportive,talented front-end developers and I
          took advantage of the opportunity to learn as much as possible from
          them. This gave me a great start with a solid foundation in front-end
          development.
        </p>
        <p>
          It isn't surprising that I found my way to developer experience, a
          role that combines engineering, UX, and education. Now I work as a
          developer experience engineer at Deepgram, striving to make the
          experience of using Deepgram's speech-to-text API an enjoyable and
          seamless one. I helped build our education platform at <a
            href="https://developers.deepgram.com/"
            target="_blank">developers.deepgram.com</a
          >, and I write educational content to support users of Deepgram's
          automatic speech recognition technology.
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .container {
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
  }

  .about {
    @apply flex flex-col  items-center;
    @apply w-full;

    .img-container {
      @apply flex justify-center  xl:justify-center;
      @apply w-full;

      img {
        @apply w-6/12 md:w-4/12 xl:w-3/12;
        @apply py-8;
        @apply rounded-sm;
      }
    }
  }

  .text-container {
    @apply pl-8;
    h1 {
      @apply text-5xl lg:text-6xl !important;
      @apply mt-4 md:mt-8 xl:mt-0;
    }
    a {
      @apply font-ptmono;
      @apply underline underline-offset-2 decoration-one text-one;
      @apply hover:bg-one hover:text-black;
    }
  }
</style>
