---
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "About Sandra Rodgers";
---

<Layout {title} {description}>
  <div class="container">
    <div class="flex justify-end">
      <img
        class="h-10 lg:h-16 relative -top-4 right-0 lg:-left-0 xl:-left-40"
        src="sparkles.webp"
      />
    </div>
    <h1>About Me...</h1>

    <div class="about mt-0 xl:-mt-28">
      <div class="img-container ml-0 sm:ml-16">
        <img src="/Sandra_Rodgers.png" />
      </div>
      <div class="text-container">
        <p>
          I am a career-changer into the world of web development. I spent over
          ten years as a high school teacher before transitioning into work as a
          front-end developer.
        </p>
        <p>
          In my current role, I build and maintain several of Deepgram's
          websites. I also sometimes write education content related to web
          development and I am an instructor for <a
            class="vue"
            href="https://vuemastery.com">Vue Mastery</a
          >.
        </p>
        <p class="mb-6 ">And I'm a chihuhahua momma! Here are my babies:</p>
        <div class="flex justify-end mr-20 sm:mr-0">
          <img class="h-10 lg:h-16" src="hearts.gif" />
        </div>
        <div
          class="flex flex-col sm:flex-row items-center justify-end pr-0 sm:pr-20"
        >
          <img class="px-2 hover:skew-y-6" src="PB.png" />
          <img class="px-2 hover:skew-y-6" src="Shala.png" />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style scoped>
  .container {
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
  }

  .about {
    @apply flex flex-col  items-center;
    @apply w-full;

    .img-container {
      @apply flex justify-center  xl:justify-center;
      @apply w-full;

      img {
        @apply w-6/12 md:w-4/12 xl:w-3/12;
        @apply rounded;
        clip-path: inset(5% 20% 15% 10%);
      }
    }
  }

  .text-container {
    @apply pl-0 sm:pl-8;
    h1 {
      @apply text-5xl lg:text-6xl !important;
      @apply my-4 md:mt-8 xl:mt-0;
    }
  }

  h1 {
    @apply mb-8;
  }
</style>
