---
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "About Sandra Rodgers";
---

<Layout {title} {description}>
  <div class="container">
    <div class="about">
      <div class="img-container">
        <img src="/sandra_portrait.jpeg" />
      </div>
      <div class="text-container">
        <h1>About Me</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .container {
    @apply px-10 sm:px-16 xl:px-44;
    /* @apply px-10 lg:px-44; */
    @apply py-28 sm:py-32 lg:py-40;
  }

  .about {
    @apply flex flex-col lg:flex-row justify-center;
    @apply w-full;

    .img-container {
      @apply flex justify-center  xl:justify-center;
      @apply w-full lg:w-2/6;

      img {
        /* @apply h-3/6; */
        @apply h-3/6 lg:h-2/6 xl:h-3/6;
        /* @apply h-2/6 lg:h-2/6 xl:h-full; */
        @apply w-4/6 lg:w-auto;
      }
    }
  }

  .text-container {
    @apply pl-8 lg:pl-16;
    @apply w-full lg:w-4/6;
    h1 {
      @apply text-5xl lg:text-6xl !important;
      @apply mt-4 md:mt-8 xl:mt-0;
    }
    p {
    }
  }
</style>
