---
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "Personal website of Sandra Rodgers";
---

<Layout {title} {description}>
  <div>
    <h1>I'm Sandra</h1>
    <p>
      I’m a developer experience engineer specializing in the creation
      delightful experiences for engineers and technology professionals.
      Currently at Deepgram.
    </p>
  </div></Layout
>

<style>
  div {
    @apply border-2 border-one;
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
  }
</style>
