---
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
import Animator from "../components/Animator.astro";
const title = "Sandra Rodgers";
const description = "Personal website of Sandra Rodgers";
---

<Layout {title} {description}>
  <div class="home -mt-40">
    <Animator>
      <img class="h-20 sm:h-28 relative top-16 -left-8 lg:-left-24" src="sparkles.webp" />
      <div class="flex justify-end">
        <img class="h-20 sm:h-28 relative top-10 right-0 lg:-right-10" src="hearts.gif" />
      </div>
      <h1 class="title mb-4">Sandra Rodgers</h1>
    </Animator>

    <p class="detail" style="padding:4px 0;">
      Developer experience engineer currently at <a
        href="https://deepgram.com/"
        target="_blank">Deepgram</a
      >.
    </p>
    <p class="detail" style="padding:4px 0;">
      Instructor for <a
        class="text-three hover:bg-three hover:text-black"
        href="vuemaster.com"
        target="_blank">Vue Mastery</a
      >
    </p>
    <p class="greeting" class="text-white font-semibold tracking-wide">
      Happy to make your acquaintance. <span class="text-3xl">😊</span>
    </p>
    <div class="flex flex-wrap md:justify-end md:mr-40 py-4">
      <LinkButton
        href="mailto:sandra.rodgers.dev@gmail.com"
        text="Contact"
        style="primary h-fit ml-2 mt-2"
      />

      <LinkButton
        href="/about"
        text="About"
        style="primary ml-2 mt-2 block md:hidden"
      />
      <LinkButton
        href="/blog"
        text="Blog"
        style="tertiary ml-2 mt-2 block md:hidden"
      />
      <LinkButton
        href="/teaching"
        text="Teaching"
        style="primary ml-2 mt-2 block md:hidden"
      />
      <LinkButton
        href="/interests"
        text="Interests"
        style="primary ml-2 mt-2 block md:hidden"
      />
    </div>
  </div>
</Layout>

<style>
  .home {
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
    @apply w-full;
  }

  u {
    padding-bottom: 7px;
    text-decoration: none;
    border-bottom: 3px solid;
    @apply border-three;
  }

  @media (min-width: 768px) {
    .title {
      font-size: 8em !important;
    }

    .detail {
      font-size: 1.85em !important;
    }

    .greeting {
      font-size:1.5em !important;
    }
  }

  .detail {
    font-size: 1.2em;
  }

  .greeting {
    font-size:1.2em;
    @apply text-white;
  }
</style>
