---
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "Personal website of Sandra Rodgers";
---

<Layout {title} {description}>
  <div>
    <h1>Hi, I'm Sandra</h1>
    <p>
      I’m a <u>developer experience engineer</u>. My job is to make the
      experience of using a technology more pleasant and seamless, focusing on
      the things that matter to software engineers and web developers: tools,
      documentation, UI, processes, and education.
    </p><p>
      With a background in teaching and front-end engineering, I also have a
      love for design, UX, and design systems.
    </p>
    <p>
      I'm currently building the developers platform at <a
        href="https://deepgram.com/"
        target="_blank">Deepgram</a
      > and writing content about web development.
    </p>
  </div></Layout
>

<style>
  div {
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
  }
</style>
