---
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "Personal Website of Sandra Rodgers";
---

<Layout {title} {description}>
  <div class="interests">
    <img
      class="h-10 lg:h-16 relative -right-56 sm:-right-80"
      src="sparkles.webp"
    />
    <h1>Interests</h1>
    <p class="detail">
      I'm interested in all things front-end development, but my favorite
      go-to's are these:
    </p>
    <div class="flex flex-wrap w-5/6 sm:w-full">
      <LinkButton
        href="https://vuejs.org/"
        target="_blank"
        text="Vue.js"
        style="tertiary h-fit ml-2 mt-2"
      />
      <LinkButton
        href="https://nuxtjs.org/"
        target="_blank"
        text="Nuxt.js"
        style="tertiary ml-2 mt-2 block"
      />
      <LinkButton
        href="https://astro.build/"
        target="_blank"
        text="Astro"
        style="primary ml-2 mt-2 block"
      />
      <LinkButton
        href="https://tailwindcss.com/"
        target="_blank"
        text="Tailwind.css"
        style="primary ml-2 mt-2 block"
      />
      <LinkButton
        href="https://jamstack.org/"
        target="_blank"
        text="Jamstack"
        style="primary ml-2 mt-2 block"
      />
    </div>
  </div></Layout
>

<style scoped>
  div.interests {
    @apply h-full;
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-5xl xl:text-6xl !important;
  }

  .vue-mastery {
    @apply text-three hover:bg-three hover:text-black;
  }
</style>
