---
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "Personal Website of Sandra Rodgers";
---

<Layout {title} {description}>
  <div>
    <h1>Interests</h1>
    <p>I’m still working on this page...</p>
  </div></Layout
>

<style>
  div {
    @apply h-full;
    @apply px-10 sm:px-16 lg:pr-96;
    @apply py-28 sm:py-32 lg:py-40;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-5xl xl:text-6xl !important;
  }
</style>
