---
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "Personal Website of Sandra Rodgers";
---

<Layout {title} {description}>
  <div>
    <img class="h-20 relative -right-56 sm:-right-80" src="sparkles.webp" />
    <h1>Teaching</h1>
    <p>
      I’m currently creating learning content for <a
        class="vue-mastery"
        href="https://vuemastery.com"
        target="_blank">Vue Mastery</a
      >
      about Vue's new official state managment library, <a
        href="https://pinia.vuejs.org/">Pinia</a
      >! Check out my most recent course.
    </p>
  </div></Layout
>

<style>
  div {
    @apply h-full;
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-5xl xl:text-6xl !important;
  }

  .vue-mastery {
    @apply text-three hover:bg-three hover:text-black;
  }
</style>
