---
import Layout from "../layouts/Default.astro";
import "../styles/main.css";
const title = "Sandra Rodgers";
const description = "Personal Website of Sandra Rodgers";
---

<Layout {title} {description}>
  <div>
    <h1>Teaching</h1>
    <p>
      I’m currently working with <a
        href="https://www.vuemastery.com/"
        target="_blank">Vue Mastery</a
      > on a course about a Vue.js topic of great interest to me. Check back soon
      for updates!
    </p>
  </div></Layout
>

<style>
  div {
    @apply h-full;
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-5xl xl:text-6xl !important;
  }

  a {
    @apply font-ptmono;
    @apply underline underline-offset-2 decoration-one text-one;
    @apply hover:bg-one hover:text-black;
  }
</style>
