---
const { height, width, bezier, second, classes, fromLeft, fromTop, delay } =
  Astro.props;
---

<div class="contain-animation">
  <div class="contain-element">
    <slot />
    <span
      class={`cover ${classes}`}
      style={` margin-top:${fromTop}; transform:translateX(${fromLeft});`}
    ></span>
  </div>
</div>

<style
  define:vars={{
    width,
    height,
    second,
    bezier,
    fromTop,
    fromLeft,
    delay,
  }}
>
  .contain-element {
    position: relative;
  }

  .cover {
    @apply absolute bg-black top-0 left-0;
    animation: walk var(--second) var(--bezier);
  }

  /* mobile */
  @keyframes walk {
    0% {
      transform: translateX(0%);
      margin-top: 0;
      width: var(--width);
      height: var(--height);
      opacity: 1;
    }

    30% {
      width: var(--width);
      height: var(--height);
    }
    35% {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  /* desktop */
  @media (min-width: 768px) {
    @keyframes walk {
      0% {
        transform: translateX(0%);
        margin-top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
      }

      85% {
        opacity: 1;
      }
      100% {
        /* margin-top ends at fromTop prop value */
        /* transform: translateX ends at fromTop prop value */
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
</style>
