---
const { post, slug } = Astro.props;
---

<ul class="post">
  <div class="px-8">
    <a href={`blog/${slug}`}>
      <h3 class="title">{post.frontmatter.title}</h3>
      <div class="date">{post.frontmatter.date.slice(0, 10)}</div>
      <div class="description">{post.frontmatter.description}</div>
    </a>
  </div>
</ul>

<style>
  h3 {
    @apply text-2xl sm:text-3xl !important;
    @apply text-white;
  }
  .post {
    @apply pb-8 pt-4;
    @apply mb-8;
    /* @apply rounded-sm border-2 b; */
  }

  .date {
    @apply text-three;
    @apply font-ptmono;
    @apply text-xl md:text-2xl;
  }

  .description {
    @apply text-four hover:text-one;
    @apply font-ptmono;
    @apply pt-4;
    @apply text-xl md:text-2xl;
  }
</style>
