---
const { post, slug } = Astro.props;
---

<ul class="post">
  <div class="">
    <a class="" href={`blog/${slug}`}>
      <li>
        <div class="date">{post.frontmatter.date.slice(0, 10)}</div>
        <h3 class="title">{post.frontmatter.title}</h3>
        <span class="description">{post.frontmatter.description}</span>
      </li>
    </a>
  </div>
</ul>

<style scoped>
  li {
    @apply list-none !important;
    @apply ml-20 !important;
    @apply hover:bg-[#282c33];
    @apply py-4;
  }

  h3 {
    @apply text-2xl sm:text-3xl !important;
    @apply text-white;
  }
  .post {
    @apply pb-8 pt-4;
    @apply mb-8;
    /* @apply rounded-sm border-2 b; */
  }

  .date {
    @apply text-three;
    @apply font-ptmono;
    @apply text-xl md:text-2xl;
  }

  .description {
    @apply text-four;
    @apply font-ptmono;
    @apply pt-4;
    @apply text-xl md:text-2xl;
  }
</style>
