---
import Animator from "./Animator.astro";
---

<nav>
  <Animator
    height={"100%"}
    bezier={"ease-in"}
    second={".8s"}
    fromTop={"-100vh"}
    fromleft={"0%"}
  >
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/about"><li>About</li></a>
      <a href="/teaching"><li>Teaching</li></a>
      <a class="blog" href="/blog"><li>Blog</li></a>
      <a href="/interests"><li>Interests</li></a>
    </ul>
  </Animator>
</nav>

<style>
  nav {
    @apply hidden md:flex flex-col;
    @apply md:h-screen md:w-3/12 lg:w-2/12;
    @apply sticky top-0;
    height: 100vh;
  }

  ul {
    @apply h-screen;
    @apply flex flex-col justify-evenly;
  }

  li {
    @apply text-one;
  }

  a {
    @apply flex items-center justify-center;
    @apply h-1/6;
    @apply text-2xl text-one;
    @apply border-4 border-one rounded-sm;
    @apply font-ptsans !important;
    @apply hover:bg-black hover:text-one !important;
  }

  .blog {
    @apply border-4 border-three !important;
    @apply animate-pulse;
    li {
      @apply text-three;
    }
  }
</style>
