<nav>
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/about"><li>About</li></a>
    <a href="/learnings"><li>Learnings</li></a>
    <a class="blog" href="/blog"><li>Blog</li></a>
    <a href="/interests"><li>Interests</li></a>
  </ul>
</nav>

<style>
  nav {
    @apply hidden md:flex flex-col;
    @apply md:h-screen md:w-3/12 lg:w-2/12;
  }

  ul {
    @apply h-full;
    @apply flex flex-col justify-evenly;
  }

  a {
    @apply flex items-center justify-center;
    @apply h-1/6;
    @apply text-2xl text-one;
    @apply border-4 border-one rounded-sm;
    @apply font-ptmono;
  }

  .blog {
    @apply border-4 border-three !important;
    @apply animate-pulse;
    li {
      @apply text-three;
    }
  }
</style>
