---
import { Icon } from "astro-icon";
import Animator from "./Animator.astro";
---

<Animator
  height={"75px"}
  width={"100vw"}
  bezier={"ease-out"}
  second={"2.2s"}
  fromLeft={"100vw"}
  component={"social"}
>
  <div class="social animate-fade">
    <div class="flex">
      <a href="/"> <span class="home text-three">Home</span></a><a href="/blog"
        ><span class="blog text-one animate-pulse">Blog</span></a
      >
    </div>
    <ul>
      <li>
        <a
          href="https://github.com/SandraRodgers"
          rel="noreferrer"
          target="_blank"
        >
          <Icon class="h-6" name="simple-icons:github" /></a
        >
      </li>
      <li>
        <a
          href="https://codepen.io/sandrarodgers"
          rel="noreferrer"
          target="_blank"
        >
          <Icon class="h-6" name="simple-icons:codepen" /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/sandra-rodgers/"
          rel="noreferrer"
          target="_blank"
        >
          <Icon class="h-6" name="simple-icons:linkedin" /></a
        >
      </li>
      <li>
        <a
          href="https://twitter.com/sandra_rodgers_"
          rel="noreferrer"
          target="_blank"
        >
          <Icon class="h-6" name="simple-icons:twitter" /></a
        >
      </li>
    </ul>
  </div>
</Animator>

<style>
  ul {
    @apply flex justify-evenly sm:justify-between items-center;
    @apply w-6/12 md:w-5/12 lg:w-3/12;
    /* @apply mr-6 lg:mr-32; */
    a {
      @apply text-three !important;
    }
  }

  .social {
    @apply flex justify-between md:justify-end;
    @apply py-6;
  }

  .home,
  .blog {
    @apply flex md:hidden;
    @apply ml-6;
    @apply font-ptmono font-extrabold;
    @apply text-xl;
    @apply cursor-pointer;
  }

  ul {
    @apply px-0 sm:px-8 xl:px-16;
    @apply pl-4 sm:pl-24 md:pl-0;
  }

  a {
    @apply hover:bg-black !important;
  }
</style>
